<header class="title-bar">
	<div class="title">GeoBITs</div>
	<a href='<%= root_path %>'><button class="visit-btn">visit</button></a>
</header>

<section id="about">
	<%= image_tag 'logo.svg', class: 'map-logo' %>
	<div class="para">
		GeoBITs is an online map covering all the places and classes in Bannari Amman Institute of Technology. The idea was to help new students to get familiar with college campus and provide an overview of which department is where. The map have two layers, SVG and satellite, and four different zoom levels, you can double tap to zoom in the map. Searching functionality in the map can help the students to find the exam halls and venues of their special classes as it is frequently changing. Hope it helps to navigate the campus and saves your time.
	</div>
	<a href='<%= root_path %>'><button class="visit-btn bigger">Explore the Campus!</button></a>
</section>

<section id="legends">
	<h1>Legends Explained</h1>
	<div class="legends-list">
		<div class="legend-box">
			<%= image_tag 'atm.svg', class: 'explained-legend' %>
			<div class="legend-name">ATM</div>
		</div>
		<div class="legend-box">
			<%= image_tag 'cricket.svg', class: 'explained-legend' %>
			<div class="legend-name">Cricket Ground</div>
		</div>
		<div class="legend-box">
			<%= image_tag 'football.svg', class: 'explained-legend' %>
			<div class="legend-name">Football Ground</div>
		</div>
		<div class="legend-box">
			<%= image_tag 'gym.svg', class: 'explained-legend' %>
			<div class="legend-name">Gym</div>
		</div>
		<div class="legend-box">
			<%= image_tag 'hostel.svg', class: 'explained-legend' %>
			<div class="legend-name">Hostel</div>
		</div>
		<div class="legend-box">
			<%= image_tag 'juice.svg', class: 'explained-legend' %>
			<div class="legend-name">Juice Bar</div>
		</div>
		<div class="legend-box">
			<%= image_tag 'laundry.svg', class: 'explained-legend' %>
			<div class="legend-name">Laundry</div>
		</div>
		<div class="legend-box">
			<%= image_tag 'library.svg', class: 'explained-legend' %>
			<div class="legend-name">Library</div>
		</div>
		<div class="legend-box">
			<%= image_tag 'meat-and-eat.svg', class: 'explained-legend' %>
			<div class="legend-name">Meat and eat</div>
		</div>
		<div class="legend-box">
			<%= image_tag 'medical.svg', class: 'explained-legend' %>
			<div class="legend-name">Medical Centre</div>
		</div>
		<div class="legend-box">
			<%= image_tag 'food.svg', class: 'explained-legend' %>
			<div class="legend-name">Mess and Cafeteria</div>
		</div>
		<div class="legend-box">
			<%= image_tag 'parking.svg', class: 'explained-legend' %>
			<div class="legend-name">Parking Area</div>
		</div>
		<div class="legend-box">
			<%= image_tag 'chess.svg', class: 'explained-legend' %>
			<div class="legend-name">PET Room</div>
		</div>
		<div class="legend-box">
			<%= image_tag 'office.svg', class: 'explained-legend' %>
			<div class="legend-name">Principal Office</div>
		</div>
		<div class="legend-box">
			<%= image_tag 'xerox.svg', class: 'explained-legend' %>
			<div class="legend-name">Reprography centres</div>
		</div>
		<div class="legend-box">
			<%= image_tag 'snacks.svg', class: 'explained-legend' %>
			<div class="legend-name">Snacks Canteen</div>
		</div>
		<div class="legend-box">
			<%= image_tag 'wifi.svg', class: 'explained-legend' %>
			<div class="legend-name">Wifi area to sit and work with</div>
		</div>
	</div>
</section>

<section id="contributors">
	<h1>Credits</h1>
	<div class="credits-body">
		<div class="name-list">
			<h2>Creators</h2>
			<ul>
				<li>Sriram V</li>
				<li>Lokmithar S D</li>
			</ul>
		</div>
		
		<div class="name-list">
			<h2>Contributors</h2>
			<ul>
				<li>Shyam Siddharth M</li>
				<li>Dhanush Ram D</li>
				<li>Monish J S</li>
				<li>Ravi Prakash B S</li>
				<li>Nandhini N</li>
				<li>Kavya Sri S S</li>
				<li>Priyanka Shan S</li>
			</ul>
		</div>
	</div>
</section>

<footer id="footer">
	<div class="contact">
		<div class="info">
			As the college is continuously evolving, if you notice some place is missing or changed or the map needs an update, please contact at:
		</div>
		<div class="contact-info">
			<div>
				<i class="mail icon"></i>
				<div class="contact-name">sriram.cs20@bitsathy.ac.in</div>
			</div>
			<div>
				<i class="whatsapp icon"></i>
				<div class="contact-name">8344000240</div>
			</div>
		</div>
	</div>
	
	<hr/>
	<div class="copyright"> © Sriram V & Lokmithar S D 2022</div>
</footer>
