<div data-controller="hello" data-hello-level-value="<%= @level %>" data-hello-top-value="<%= @top %>" data-hello-left-value="<%= @left %>" data-hello-pinned-value="<%= @pinned %>">
	<div class="search-bar" data-controller="search">
		<div class="search-wrapper">
			<div class="ui icon input box-input">
				<input id="search-bar" type="text" placeholder="Search..." data-action="change->search#find" autocomplete="off">
				<i class="search link icon" data-action="click->search#find"></i>
			</div>
			<div class="suggestions">
				<ul class="suggestion-list">
				</ul>
			</div>
		</div>
	</div>
	
	<div class="bg-map">
		<%= image_tag "Map.svg", height: 3876, width: 3420, class: "the-map visible", oncontextmenu: "return false;", alt: "SVG map", cache: true %>
		<%= image_tag "Map.webp", height: 3876, width: 3420, class: "the-map invisible", oncontextmenu: "return false;", alt: "Satellite Map", loading: "lazy" %>
		<div class="tags"></div>
		<div class="legends"></div>
		<%= image_tag "tag.svg", id: "pin", alt: "pin-point" %>
		<div class="url-box" data-controller="clipboard">
			<div class="url-container">
				<input data-clipboard-target="url" class="pin-url" value="localhost:3000"/>
				<button data-action="click->clipboard#copy" class="copy-btn">Copy</button>
			</div>
		</div>
	</div>
	
	<div class="instruct-box">
		<div class="instruction">
			<div class="notes">
				<p>Press or hold at any place in the map to pin point that location and share it with the url.</p>
				<p>Each classes and labs in every building are indexed and can be searched via search bar.</p>
				<p>Use the zoom buttons or double tap the map to zoom in or zoom out.</p>
				<hr/>
				<p class="last-info">Click the info button for more info!</p>
			</div>
			<a class="close-btn" data-action="click->hello#close">X</a>
		</div>
	</div>
	
	<div class="zoom-buttons">
		<button class="icon-button" data-action="click->hello#zoomin">
			<%= image_tag "plus.svg" %>
		</button>
		<br/><br/>
		<button class="icon-button" data-action="click->hello#zoomout">
			<%= image_tag "minus.svg" %>
		</button>
	</div>
	
	<div class="layer-button">
		<button class="icon-button" >
			<%= link_to about_path do image_tag "info.svg" end  %>
		</button>
		<br/><br/>
		<button class="icon-button" data-action="click->hello#layer">
			<%= image_tag "layer.svg" %>
		</button>
	</div>
	
	
	<div class="place-details">
		<div class="place-title"></div>
		<div class="place-main"></div>
		
		<div class="floors">
			<div class="underline"></div>
		</div>
		
		<ul class="classes"></ul>
		<ul class="classes"></ul>
		<ul class="classes"></ul>
		<ul class="classes"></ul>
	
	</div>
	
	<div class="get-down-btn" data-action="click->hello#hide">
		<%= image_tag "down.svg", class: "down-arrow", alt: "Down arrow" %>
	</div>
</div>